
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h2 class="oe_slogan">Account Balance Check by Date</h2>
        </div>
			 
			 <div class="oe_span12">
	 			<p class="oe_mt32">
			This Odoo accounts module related app from<strong> <a href="http://www.broadtech-innovations.com/">BroadTech IT Solutions</a></strong>  introduces an interface to check 
			the balance in an Odoo account on any selected date from the past.	
				</p>
     		</div>
          
           <div class="oe_span3" style="text-align:justify;word-spacing: -2px;">
	 		<p class="oe_mt32 ">
			At present, in the community version, user has to generate PDF reports(General Ledger or Other reports) 
				to check the balance on a particular date. 		 </p>
	 		</p>
     	</div>
            
		 <div class="oe_span9">
            <div class="oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
            </div>
        </div>
      
	   </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        	
         
       
        <div class="oe_span9">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
        <div class="oe_span3" style="text-align:justify;word-spacing: -2px;">
            <p class="oe_mt32">
            For balance checking only, user can depend on the new interface 
			which would be more convenient compared to report generation.  
			</p> 
		</div>
      </div>
</section>    

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
      
        <div class="oe_span9 oe_row_img oe_centered oe_mt32">
                <img class="oe_picture oe_screenshot" src="image3.png">
                 <p class="oe_mt32 ">
    				For any assistance please feel free to contact us: contact@broadtech-innovations.com
    			 </p>
        </div>
        
    </div>
</section>




